/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


.navbar-brand
    {
      font-size: 40px;
    }

    .footer {
        font-size: 25px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
      }

      .Link{
        color:white;
      }
